@import '~normalize.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';

.repl-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.editor {
    width: 50%;
    font-size: 14pt;
    font-family: 'Monaco', monospace;
}

.editor .ReactCodeMirror, .editor .CodeMirror {
    font-family: 'Monaco', monospace;
    position: relative;
    height: 100%;
}

.console {
    padding: 4px;
    width: 50%;
    overflow-y: scroll;
    font-size: 14pt;
    background-color: #223344;
    color: #eeeeee;
    font-family: 'Monaco', monospace;
    outline: none;
    white-space: pre;
}

.console .log .row {

}

.console .log .row.error {
    color: #ff0000;
}

.console .log .row.output {
    color: #00ff00;
}

.console .prompt .cursor {
    background-color: #eeeeee;
    color: #223344;
}