@import '~normalize.css';

.console {
    width: 100%;
    height: 450px;
    background-color: #223344;
    color: #eeeeee;
    font-family: 'Monaco', monospace;
    outline: none;
    white-space: pre;
}

.console .prompt .cursor {
    background-color: #eeeeee;
    color: #223344;
}